table.bayplan td {
    width: 14px;
    height: 14px;
    box-sizing: border-box;
    border: 1px solid #DBDBDB;
}

table.bayplan .bay-no {
    text-align: center;
    border: none;
}

table.bayplan .axis {
    font-size: 0.8em;
    text-align: center;
    border: none;
}

table.bayplan td.full {
    border: 1px double black;
}

table.bayplan td.empty {
    /*background-image: url("../assets/icons/empty_stow.png");*/
    border: 1px double black;
    padding: 2px;
}

table.bayplan td.empty:after {
    content: "";
    display: block;
    background-color: white;
    width: 100%;
    height: 100%;
}