@font-face {
    font-family: "Roboto Mono";
    src: url('../assets/fonts/RobotoMono.ttf');
}

@font-face {
    font-family: "Roboto Mono";
    src: url('../assets/fonts/RobotoMono-Bold.ttf');
    font-weight: bold;
}