/*
#00D1B2
#3273DC
*/

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

table {
    font-family: "Roboto Mono", monospace;
}

span {
    cursor: default;
}

.wrapper {
    margin: 0;
    padding: 0;
    min-height: calc(100vh - 32px);
    max-height: calc(100vh - 32px);
    overflow: hidden;
}

.tabs li.is-active {
    border-left: 1px solid #E7EBED;
    border-right: 1px solid #E7EBED;
    background-color: #F7F7FC;
}

.border {
    border-left: 1px solid #E7EBED;
    border-right: 1px solid #E7EBED;
}

.no-border {
    border-style: none;
}

.column-top-border {
    border-top: 1px solid #E7EBED;
}

.column-header {
    display: flex;
    width: 100%;
    height: 64px;
    align-items: center;
    border-bottom: 1px solid #E7EBED;
}

.column-tabs {
    display: flex;
    width: 100%;
    align-items: center;
    margin: 0;
}

.waiting {
    display: flex;
    width: 100%;
    min-height: calc(100vh - 138px);
    max-height: calc(100vh - 138px);
    padding: 128px 64px;
    align-items: center;
    justify-content: center;
}

#copy-icon {
    font-size: 1.6em;
    margin-bottom: 16px;
}

#copy-indicator {
    font-family: "Segoe UI", sans-serif;
    font-weight: 600;
    font-size: 1.2em;
    padding: auto;
    padding-left: 8px;
}

img#logo {
    height: 32px;
    margin-left: 16px;
}

div#anim-logo {
    margin-left: 16px;
}

div.stdout {
    display: flex;
    font-family: "Roboto Mono", monospace;
    font-size: 0.8em;
    color: #2B2B2B;
    min-height: calc(100vh - 180px);
    max-height: calc(100vh - 180px);
    min-width: calc(75vw - 200px);
    max-width: calc(75vw - 200px);
    white-space: pre-wrap;
    overflow: hidden;
}

div.stdout div.scroller {
    overflow-y: scroll;
    padding: 0;
    margin: 0;
    min-height: calc(100vh - 180px);
    max-height: calc(100vh - 180px);
}

div.stdout span.edi-span {
    display: block;
    padding: 16px;
    width: 100%;
    height: 100%;
    align-items: flex-start;
}

div.stdout table.edi-table {
    width: 100%;
    cursor: pointer;
}

div#path-container {
    border-bottom: 1px solid #E7EBED;
}

#path-input {
    border: none;
    box-shadow: none;
    font-family: "Roboto Mono", monospace;
}

#path-input:focus {
    border: none;
    box-shadow: none;
}

#path-container button {
    margin-right: 4px;
}

.edi-data {
    transition-duration: 0.2s;
    cursor: pointer;
    font-weight: normal;
}

.edi-data:hover {
    transition-duration: 0s;
    font-weight: bold;
}

.table.is-borderless td, .table.is-borderless th {
    border: 0;
}

.image.is-256x256 {
    height: 256px;
    width: 256px;
}

.background-band {
    display: flex;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 96px;
    width: 100vw;
    height: 250px;
    background-color: whitesmoke;
}

.round-icon-button {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    padding: 16px;
    background-color: #F2F2F3;
    display: flex;
}

.round-icon-button img {
    width: 64px;
    height: auto;
}